.card {
    max-width: 380px;
    min-width: 280px;
    margin: 20px;
    display: inline-block;

    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    border-radius: 30px;
}

.card .header {
    display: flex;
}

.card .header .logo {
    width: 80px;
    height: 80px;
    padding: 5px;
    margin: 10px 20px;

    background-color: var(--base-color3);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.card .header .logo img {
    width: 100%;
}

.card .header .main {
    /* logo: 80px + margin 40px & own margin right 20px */
    width: calc(100% - 140px);
}

.card .header .main .title {
    text-align: left;
    margin: 10px 10px 0 10px;
    min-height: 80px;
    
    /* title vertical centered */
    display: table;
}

.card .header .main .title p {
    color: var(--text-color1);
    font-weight: bold;
    font-size: 22px;
    
    /* title vertical centered */
    display: table-cell;
    vertical-align: middle;
}

.card .header .main .badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card .header .main .badges .badge {
    width: 100px;
    padding: 5px;
    margin: 10px 5px;

    color: #000;
    background-color: var(--green);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card .description {
    min-height: 160px;
    padding: 0 10px;

    text-align: left;
}

.card .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 0 20px 0;
}

.card .footer .btn {
    width: fit-content;
    padding: 6px 20px;
    margin: 10px;

    box-shadow: 2px 2px 5px var(--text-color1);
    border-radius: 15px 50%;
    transition: 0.5s;
	
	color: var(--text-color1);
    font-style: normal;
    font-weight: bold;
}

.card .footer .btn.download {
    background-color: var(--light-blue);
	color: #000;
}

.card .footer .btn:hover {
    border-radius: 50% 15px;
    transition: 0.5s;
}

@media (max-width: 480px) {
    .card {
        margin: 20px 0px;
    }
}

@media (max-width: 400px) {
    .card .header {
        display: block;
    }

    .card .header .logo {
       margin: 10px auto;
    }

    .card .header .main {
        width: 100%;
    }

    .card .header .main .title {
        text-align: center;
        min-height: 0px;

        /* title vertical centered removed */
        display: block;
    }

    .card .header .main .title p {
        /* title vertical centered removed */
        display: block;
    }

    .card .header .main .badges {
        justify-content: center;
    }

    .card .description {
        min-height: 0px;
    }
}