/*
 * Style for the imprint
 * @Version 1-0-1
 * @Author Julian Lamm
 */
h2 {
  margin-bottom: 9px;
  word-wrap: break-word;
}

p {
  margin-bottom: 16px;
}

p:last-child {
  margin-bottom:  0px;
}

ol {
  color: var(--text-color2);
  margin-left: 30px;
}