/*
 * Style for search and filter fields
 * @Version 2-0-0
 * @Author Julian Lamm
 */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

/* CATEGORY FILTER */
#categoryFilter {
  display: flex;
  height: 50px;
  width: 320px;

  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

#categoryFilter .filter-option {
  padding: 0 10px;
  width: 100%;

  background-color: var(--base-color3);
  border: 2px solid var(--text-color3);
  border-right: none;

  color: var(--text-color1);
  font-size: 18px;

  cursor: pointer;
  transition: 0.6s;
}

#categoryFilter .filter-option:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#categoryFilter .filter-option:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 2px solid var(--text-color3);
}

#categoryFilter .filter-option:hover {
  color: var(--text-color3);
}

#categoryFilter .filter-option.activated {
  background-color: var(--light-blue);
  color: black;
}

/* SEARCH */
#search {
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;

  border-radius: 50px;
  border: 2px solid var(--text-color3);
  background-color: var(--base-color3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

#search.active { /* opened */
  width: 320px;
}

#search .icon { /* magnifying glass */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  
  cursor: pointer;
}

#search .icon::before { /* magnifying glass - circle */
  content: '';
  position: absolute;
  transform: translate(-5px, -5px);
  width: 15px;
  height: 15px;

  border-radius: 50%;
  border: 3px solid var(--text-color2);
  transition: 0.8s;
}

#search .icon:hover::before {
  border-color: var(--text-color3);
}

#search .icon::after { /* magnifying glass - stroke */
  content: '';
  position: absolute;
  transform: translate(6px, 6px) rotate(315deg);
  width: 3px;
  height: 15px;

  background: var(--text-color2);
  transition: 0.8s;
}

#search .icon:hover::after {
  background: var(--text-color3);
}

#search .input { /* input field */
  position: relative;

  left: 50px;
  width: calc(320px - 50px - 50px); /* total width - icon-width - clear-width */
  height: 100%;
}

#search .input input {
  width: 100%;
  height: 100%;

  border: none;
  background: transparent;
  color: var(--text-color2);
  font-size: 20px;
}

#search.active .clear { /* clear input field */
  display: flex;
}

#search .clear {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;

  cursor: pointer;
}

#search .clear::before,
#search .clear::after {
  content: '';
  position: absolute;
  transform: rotate(45deg);

  width: 2px;
  height: 28px;

  background-color: var(--text-color2);
  transition: 0.8s;
}

#search .clear::after {
  transform: rotate(315deg);
}

#search .clear:hover::before,
#search .clear:hover::after {
  background-color: var(--text-color3);
}