/*
 * Style for all sites
 * @Version 1-0-0
 * @Author Julian Lamm
 */

:root {
    --base-color1: hsl(0, 0%, 100%);
    --base-color2: #efefef;
    --base-color3: #d6d6d7;
    --text-color1: #2f3557;
    --text-color2: #4a5576;
    --text-color3: #737da8;

    --blue: #4944B8;
    --light_blue: #D5F4F9;
    --green: #55EEAE;
    --turquoise: #87F4E8;

    --header-height: 80px;
    --header-height-small: 60px;
    --sidenav-width: 150px;
    --footer-height: 50px;
}

.darkmode {
    --base-color1: #070b1d;
    --base-color2: #101425;
    --base-color3: #1a1f38;
    --text-color1: #bfcefe;
    --text-color2: #97a4ce;
    --text-color3: #5b637c;

    --blue: #00A9E9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
    outline: none;
}

body {
    background-color: var(--base-color1);
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    font-size: 32px;
    color: var(--text-color1);
}

h2 {
    font-size: 24px;
    color: var(--text-color2);
}

p {
    font-size: 16px;
    color: var(--text-color2);
}

a {
    font-size: 16px;
    color: var(--text-color3);
    text-decoration: none;
    font-style: italic;
}

b {
    color: var(--text-color1);
}

hr {
    border: none;
    border-top: 2px solid var(--text-color3);
}

/* HEADER */
header {
    height: var(--header-height);
    background-color: var(--base-color2);
    border-bottom: 2px solid var(--base-color3);
    
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

header .content {
    max-width: 1700px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* LOGO */
header .content #logo a img {
    width: 220px;
    margin-top: 3px;
}

/* NAVIGATION BAR */
header .content nav ul {
    display: flex;
}

header .content nav ul li {
    list-style-type: none;
    margin: 1em;
}

header .content nav ul li a {
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    color: var(--text-color2);
    transition: 0.8s;
}

header .content nav ul li:hover a {
    color: var(--text-color3);
    letter-spacing: 0.08cap;
    transition: 0.8s;
}

header .content nav ul li #active { /* the selected element, because this page is opened currently */
    color: var(--blue);
}

/* OPTIONS */
header .content #options {
    display: flex;
}

/* THEME-SWITCH */
header .content #options #theme-switch {
    height: 35px;
    width: 35px;
    padding-right: 8px;
    margin-right: 5px;
    
    border: none;
    border-right: 2px solid var(--text-color2);
    background-color: var(--base-color2);
    cursor: pointer;
}

header .content #options #theme-switch svg {
    fill: var(--text-color2);
    transition: 0.8s;
}

header .content #options #theme-switch:hover svg {
    fill: var(--text-color3);
    transition: 0.8s;
}

header .content #options #theme-switch svg:first-child {
    display: none;
}

.darkmode header .content #options #theme-switch svg:last-child {
    display: none;
}

.darkmode header .content #options #theme-switch svg:first-child {
    display: block;
}

/* LANGUAGE-SELECT */
header .content #options #language-select {
    border: none;
    background-color: var(--base-color2);
    color: var(--text-color2);
    font-size: 16px;
    cursor: pointer;
}

header .content #options #language-select option {
    background-color: var(--base-color2);
}

/* BUTTON TO OPEN THE NAVIGATION BAR (HAMBURGER MENU) */
header .content input[type="checkbox"] { /* checkbox of the toggle button is not visible */
    display: none;
}

header .content .toggle_button {
    width: 30px;
    height: 22px;
    margin: 0 20px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    
    cursor: pointer;
}

header .content .toggle_button span { /* three lines inside the button */
    height: 4px;
    width: 30px;

    background: var(--text-color2);
    border-radius: 6px;

    transition: 0.4s;
}

/* toggle_button animation */
.toggle_button:hover span:nth-child(2) {
    background-color: var(--text-color3);
    transform: translateX(10px);
}
  
.toggle_button.is-active span:nth-child(1) {
    transform: translate(0, 10px) rotate(45deg);
}
  
.toggle_button.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}
  
.toggle_button.is-active span:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
}
  
.toggle_button.is-active:hover span {
    background-color: var(--text-color3);
}

/* CONTENT */
#main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px 20px;
    justify-content: center;
    transition: 0.8s;
}

#main.blur {
    filter: blur(2px);
    transition: 0.8s;
}

/* FOOTER */
footer {
    background-color: var(--base-color2);
    border-top: 2px solid var(--base-color3);

    height: var(--footer-height);
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .content {
    max-width: 1700px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .content .link {
    display: flex;
    align-items: center;
}

footer .content .link img {
    width: 30px;
    margin-right: 10px;
}

footer .content .link a {
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    color: var(--text-color2);
    transition: 0.8s;
}

footer .content .link:hover a {
    color: var(--text-color3);
    letter-spacing: 0.08cap;
    transition: 0.8s;
}

/* SMALLER DEVICES */
@media(max-width: 850px) {
    /* HEADER */
    header {
        height: var(--header-height-small);
    }

    header .content {
        justify-content: space-between;
        padding: 0 10px;
    }

    header .content #logo a img {
        width: 150px;
    }

    /* CONTENT */
    #main {
        min-height: calc(100vh - var(--header-height-small) - var(--footer-height));
    }
}

@media(max-width: 780px) {
    /* HEADER */
    header .content nav {
        background: var(--base-color3);
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.4);
        
        top: var(--header-height-small);
        left: 0;
        width: var(--sidenav-width);
        height: calc(100vh - var(--header-height-small) - var(--footer-height));
        position: absolute;
        z-index: 10;

        transform: translateX(calc(-1 * var(--sidenav-width))); /* outside the viewport */
        opacity: 0; /* invisible */
        visibility: hidden; /* no interaction with this element is possible */
        transition: transform 0.8s ease, opacity 1.2s ease, visibility 1.2s ease;
    }

    header .content nav.active {
        transform: translateX(0); /* inside the viewport */
        opacity: 1;
        visibility: visible; /* interaction with this element is possible */
    }

    header .content nav ul {
        display: block;
    }

    header .content #options {
        margin-left: auto;
    }

    header .content .toggle_button {
        display: flex; /* toggle-button is visible */
        margin-right: 5px;
        margin-left: 10px;
    }

    /* FOOTER */
    footer {
        height: min-content;
    }

    footer .content .link {
        margin: 0px 20px;
        margin-bottom: 10px;
        justify-content: center;
    }
}

@media(max-width: 360px) {
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    /* HEADER */
    header .content #options {
        flex-direction: column;
        align-items: center;
    }

    header .content #options #theme-switch {
        border: none;
    }
}