/*
 * Style for all sites
 * @Version 3-0-0
 * @Author Julian Lamm
 */
:root {
  --base-color1: #ffffff;
  --base-color2: #efefef;
  --base-color3: #d6d6d7;
  --text-color1: #2f3557;
  --text-color2: #4a5576;
  --text-color3: #737da8;
  --turquoise:   #75dfd2;
  --light-blue:  #63b8c6;
  --blue:        #6a94f0;
  --green:       #3fb885;

  --content-max-width: 1920px;
  --header-height:       80px;
  --header-height-small: 60px;
  --footer-height:       50px;
}

.darkmode {
  --base-color1: #070b1d;
  --base-color2: #101425;
  --base-color3: #1a1f38;
  --text-color1: #bfcefe;
  --text-color2: #97a4ce;
  --text-color3: #5b637c;
  --turquoise:   #a0e5ef;
  --light-blue:  #4fcde4;
  --blue:        #00A9E9;
  --green:       #55EEAE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  user-select: none;
  outline: none;
}

body {
  font-family: Verdana, Arial, sans-serif;
  background-color: var(--base-color1);
}

/* ELEMENTS */
h1 {
  font-size: 32px;
  color: var(--text-color1);
}

h2 {
  font-size: 24px;
  color: var(--text-color2);
}

p {
  font-size: 16px;
  color: var(--text-color2);
}

a {
  font-size: 16px;
  color: var(--text-color3);
  text-decoration: none;
  font-style: italic;
}

b {
  color: var(--text-color1);
}

hr {
  border: none;
  border-top: 2px solid var(--text-color3);
}

/* HEADER */
header {
  background-color: var(--base-color2);
  border-bottom: 2px solid var(--base-color3);

  display: flex;
  justify-content: center;
  height: var(--header-height);
  width: 100%;
}

header .content {
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-around;
  max-width: var(--content-max-width);
  width: 100%;
}

/* HEADER - LOGO */
header .content a img {
  width: 220px;
  height: auto;
  margin-top: 2px;
}

/* HEADER - NAVIGATION */
header .content nav ul {
  display: flex;
}

header .content nav ul li {
  list-style-type: none;
  margin: 10px;
}

header .content nav ul li a {
  color: var(--text-color2);
  font-style: normal;
  font-size: 20px;

  transition: 0.6s;
}

header .content nav ul li:hover a {
  color: var(--text-color3);
}

header .content nav ul li #active { /* the selected nav item, because this page is opened currently */
  border-bottom: 3px solid var(--blue);
}

/* HEADER - OPTIONS */
header .content #options {
  display: flex;
}

/* HEADER - OPTIONS - THEME-SWITCH */
header .content #options #theme-switch {
  height: 30px;
  width: 30px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

header .content #options #theme-switch svg {
  fill: var(--text-color2);
  transition: 0.6s;
}

header .content #options #theme-switch:hover svg {
  fill: var(--text-color3);
}

header .content #options #theme-switch svg:first-child {
  display: none;
}

.darkmode header .content #options #theme-switch svg:last-child {
  display: none;
}

.darkmode header .content #options #theme-switch svg:first-child {
  display: block;
}

/* HEADER - OPTIONS - LANGUAGE-SELECT */
header .content #options #language-select {
  background-color: var(--base-color2);
  color: var(--text-color2);
  font-size: 20px;
  
  border: none;
  border-left: 2px solid var(--text-color2);

  margin-left: 8px;
  padding-left: 5px;

  cursor: pointer;
  transition: 0.6s;
}

header .content #options #language-select:hover {
  color: var(--text-color3);
}

/* HEADER - NAV-TOGGLE-BUTTON */
header .content #nav-toggle-button {
  display: none;
}

header .content #nav-toggle-button-label {
  width: 30px;
  height: 30px;

  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5px;

  cursor: pointer;
}

header .content #nav-toggle-button-label span { /* three lines inside the button */
  background: var(--text-color2);
  border-radius: 6px;

  height: 4px;
  width: 30px;

  transition: 0.6s;
}

/* nav-toggle-button animation */
header .content #nav-toggle-button-label:hover span:nth-child(2) {
  background-color: var(--text-color3);
  transform: translateX(8px);
}

header .content #nav-toggle-button-label.is-active span:nth-child(1) {
  transform: translate(0, 10px) rotate(45deg);
}

header .content #nav-toggle-button-label.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

header .content #nav-toggle-button-label.is-active span:nth-child(3) {
  transform: translate(0, -10px) rotate(-45deg);
}

header .content #nav-toggle-button-label.is-active:hover span {
  background-color: var(--text-color3);
}

/* CONTENT */
main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

main .content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 20px;
}

/* FOOTER */
footer {
  background-color: var(--base-color2);
  border-top: 2px solid var(--base-color3);

  display: flex;
  justify-content: center;
  min-height: var(--footer-height);
  height: min-content;
  width: 100%;
}

footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: var(--content-max-width);
  width: 100%;
}

footer .content .link {
  display: flex;
  align-items: center;
  margin: 5px 15px;
}

footer .content .link img {
  width: 30px;
  margin-right: 8px;
}

footer .content .link a {
  color: var(--text-color2);
  font-style: normal;
  font-size: 20px;

  transition: 0.6s;
}

footer .content .link:hover a {
  color: var(--text-color3);
}

/* SMALLER DEVICES */
@media(max-width: 850px) {
  /* HEADER */
  header {
    height: var(--header-height-small);
  }

  header .content {
    justify-content: space-between;
  }

  header .content a img {
    width: 150px;
  }

  header .content nav { /* navigation bar outsourced to the left side */
    left: 0;
    position: fixed;
    top: calc(var(--header-height-small) + 20px);
    height: calc(100vh - var(--header-height-small) - 40px);
    width: min-content;
    padding: 10px;

    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--base-color2);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 2px solid var(--base-color3);
    border-left: none;

    z-index: 10;
    transform: translateX(calc(-1 * 100%));
    transition: transform 0.6s ease;
  }

  header .content nav.active {
    transform: translateX(0);
  }

  header .content nav ul {
    display: block;
  }

  header .content #nav-toggle-button-label {
    display: flex; /* nav-toggle-button is visible */
  }

  /* CONTENT */
  main {
    min-height: calc(100vh - var(--header-height-small) - var(--footer-height));
  }
}

@media(max-width: 400px) {
  /* ELEMENTS */
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  /* HEADER */
  header .content #options {
    flex-direction: column;
    align-items: center;
  }

  header .content #options #language-select {
    border: none;
  }
}